@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Chat_2Ball</title>
</head>
<body>
    <h2>Чат-комната</h2>

    <div class="main">

        <div id="loginBlock">
            Введите логин:<br />
            <input id="txtUserName" type="text" />
            <input id="btnLogin" type="submit" value="Войти" />
        </div>
        <div id="chatBody">
            <div id="header"></div>
            <div id="inputForm">
                <!--Отправка сообщений и регистрация пользователей-->
                <form id="SendMessage" method="post">
                    <input type="text" id="message" name="Text" />
                    <div id="emoji" style="float: left;">
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😀'; return false;" style="float: left;">
                            😀
                        </p>
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😂'; return false;" style="float: left;">
                            😂
                        </p>
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😆'; return false;" style="float: left;">
                            😆
                        </p>
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😋'; return false;" style="float: left;">
                            😋
                        </p>
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😍'; return false;" style="float: left;">
                            😍
                        </p>
                        <p onclick="document.getElementById('message').value=document.getElementById('message').value+'😎'; return false;" style="float: left;">
                            😎
                        </p>
                    </div>
                    <input type="hidden" id="hdId-1" name="UserId" />
                    <input type="submit" id="sendmessage" value="Отправить" />
                    <input type="file" id="image" value="Вставка" />
                </form>
                <!--/////////-->
            </div>
            <div id="chatroom"></div>

            <div id="chatusers">
                <p><b>Все пользователи</b></p>
            </div>
        </div>
        <input id="hdId" type="hidden" name="ConnectionId" />
        <input id="username" type="hidden" name="Name" />
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Ссылка на библиотеку SignalR & Ajax -->
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>